.idea/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/var/*
!app/var/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/css/*
/web/js/*
/web/error.log
*.php~
*.xlf~